@model TbItem
@{
    ViewData["Title"] = "Edit";
}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Items</h2> &nbsp;&nbsp;&nbsp;
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html">Admin</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Items</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="#">Edit/Add</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-body">
            <section id="basic-horizontal-layouts">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Edit Form</h4>
                            </div>
                            <div class="card-body">
                                <form class="form form-horizontal" enctype="multipart/form-data"
                                      method="post" role="form"
                                      asp-controller="Items" asp-action="Save">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mb-1 row">
                                                <div class="col-sm-3">
                                                    <label class="col-form-label">Category</label>
                                                </div>
                                                <input type="hidden" asp-for="ItemId" />
                                                                               
                                                <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories,"CategoryId","CategoryName"))" class="form-control col-sm-9">
                                                </select>
                                                <span class="Lable danger" asp-validation-for="CategoryId"></span>

                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="mb-1 row">
                                                <div class="col-sm-3">
                                                    <label class="col-form-label">Item Name</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input asp-for="ItemName" type="text" id="first-name" class="form-control" placeholder="item Name">
                                                </div>
                                                <span class="Lable danger" asp-validation-for="ItemName"></span>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="mb-1 row">
                                                <div class="col-sm-3">
                                                    <label class="col-form-label">Add Discreption</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <textarea id="inputDescription" class="form-control" rows="4" asp-for="Disciption"> </textarea>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="mb-1 row">
                                                <div class="col-sm-3">
                                                    <label class="col-form-label">Price</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="number" asp-for="SalesPrice" />
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="mb-1 row">


                                                <div class="col-sm-3">
                                                    <label class="col-form-label">Item Image</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="file" name="formFiles" class="form-control">
                                                    <input type="hidden" asp-for="ImageName" />
                                                </div>
                                                <div>

                                                </div>
                                                <div class="col-sm-9 offset-md-3">
                                                    <button type="Submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Submit</button>
                                                    <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>